{{> common/navbar create=false}}

<div class="container">
  {{> common/title title}}

  <form id="wio-form" name="wio-form" action="">
    <div class="game__panel">
      <div class="create-box shadow">
        <div class="form-group">
          <label for='description'>Description:</label>
          <input type="text" class="form-control game__description-input" id="description" name="description" aria-describedby="descriptionHelp" placeholder=""/>
          <small id="descriptionHelp" class="form-text text-muted">This description appears in the list of games to play.</small>
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control game__title-input" id="title" name="title" aria-describedby="titleHelp" placeholder=""/>
        </div>
        <div class="form-group">
          <label for="subtitle">Subtitle:</label>
          <input type="text" class="form-control game__subtitle-input" id="subtitle" name="subtitle" placeholder=""/>
        </div>
      </div>
      
      <hr>
      <h2 class="create-sentence-title">Sentences</h2>
      
      {{!-- this empty div holds the sentences  --}}
      <div class="js-section__body">
        {{!-- {{{sections}}} --}}
      </div>
      <div class="create-buttons mb-4">
        <button type="button" class="js-add-section btn btn-secondary mr-3">Add another sentence</a>
        <!-- <button class="create-button form-cancel">Cancel</button> -->
        <button class="btn btn-primary form-submit" type="submit">Done</button>
      </div>
    </div>
  </form>

  <!-- section template  -->
  <script type="text/x-handlebars-template" id="tplSentence">
    <div class="sentence__item create-box create-sentence-box shadow">
      <!-- <h2 class="create-sentence-title">Sentence</h2> -->
      <div class="create-sentence-input">
        <div class="form-group">
          {{!-- escape the moustaches (use backslah '\' before '{{}}') --}}
          {{!-- so the server leaves it for the client to compile. --}}
          <label for="comment\{{number}}">Comment:</label>
          <input class="form-control sentence__comment-input" type="text" id="comment\{{number}}" name="comment\{{number}}" aria-describedby="commentHelp" 
          placeholder="">
          <small id="commentHelp" class="form-text text-muted">Write a short comment to help students with this particular sentence (optional).</small>
        </div>
        <div class="form-group">
          <label for="sentence\{{number}}">Sentence:</label>
          <input class="form-control sentence__words-input" type="text" id="sentence\{{number}}" name="sentence\{{number}}" 
          placeholder="">
        </div>
      </div>
      <div class="section__tools create-sentence-controls">
        <i class="fas fa-angle-up fa-2x js-section__control-up"></i>
        <i class="fas fa-angle-down fa-2x js-section__control-down"></i>
        <i class="fas fa-times fa-2x js-section__control-remove"></i>
      </div>
    </div>
  </script>

</div>