<div class="create-box shadow">
  <h2 class="create-box-title">{{title}}</h2>
  <label for="comment{{number}}">Comment:</label>
  <input type="text" id="comment{{number}}" name="comment{{number}}" 
    placeholder="{{placeholder.comment}}">
  <label for="sentence{{number}}">Sentence:</label>
  <input type="text" id="sentence{{number}}" name="sentence{{number}}" 
    placeholder="{{placeholder.sentence}}">
</div>