{{#each sentences}}
<div>
  <span class="comment">{{incremented @index}}) {{comment}}</span>
</div>
<div class="exercise-container shadow">
  <!-- <div class="sentence-number">
      incremented is a custom handlebars function helper. See: dragging.js
      <p>{{incremented @index}}</p> 
    </div> -->
  <div class="sentence" id="sort{{id}}" data-id="{{@index}}">
    {{#each sentenceShuffled}}
      <div class="word sortable" id="wordIndex{{@../index}}{{@index}}">{{this}}</div>
    {{/each}}
  </div>
  <div class="check">
    <img id="icon{{@index}}">
  </div>
</div>
{{/each}}